<!DOCTYPE html>
<html lang="en">
 <%- include('../partials/head.ejs') %>
<body>
  <%- include('../partials/Navbar.ejs') %>
</body>

<main class="show-all-users">
  <% if(user && infos.length > 0 ) {%>
    <% infos.forEach(info =>{ %>
      <a href='/user/<%=info._id%>'>
        <div class="user-container">
          <h1 class="name">Name : <%= info.name %></h2>
          <h3 class="email">Email : <%= info.email %></small>
      </div>
    </a>
    <%})%>
    <%}else if(user && infos.length == 0){%>
      <div class="error-container">
          <h2 style="color:#fff" class="title">Nothing To See Here</h2>
      </div>
  <%}else{%>
    <div class="error-container">
      <h2><a href="/user/login">Login</a> To Access The Feature</h2>
    </div>
    <%}%>
  
</main>
</html>