
 <%- include('../partials/head.ejs') %>
<body>
  <%- include('../partials/Navbar.ejs') %>

  <main class="singular-blog show-singular">
    <div class="utility-container">
      <h2 class="blog-title"><%= info.title %></h2>
      <%if(user && user.name == info.author){%>
        <div onclick="deleteRequest('/blog/<%= info._id %>')" class="trash-bin-icon">
          <i class="fas fa-trash black"></i>
        </div>
      <%}%>
      
    </div>
    <small class="blog-author">
      <a href="user/<%=info._id%>"><%= info.author %></a>
    </small>
    <p class="blog-body"><%= info.body %></p>
  </main>
  <hr>
  <%if(user){%>
  <form class="comment-form" method="POST" action="/blog/<%=info._id%>">
    <input id="name" name="user" value="<%=user.name%>" readonly>
    <input id="comment" name="text" placeholder="Write Comment">
    <button type="submit">Comment</button>
  </form>
  <div class="errorMessage"></div>
  <%}else{%>
    <form class="comment-form">
      <a href="/user/login">Login</a>
      <input id="comment" name="comment" placeholder="To Write Comment" readonly>
    </form>
    <%}%>
  <div class="display-comment">
    <%if(info.comments.length > 0){%>
      <%info.comments.map(comment=>{%>
        <h2><%=comment.user%> : <%=comment.text%></h2>
      <%})%>    
    <%}else{%>
      <h2>No Comment At The Moment!</h2>
      <%}%>
    
  </div>
</body>

<script>
  const nameInput = document.getElementById('name');
  const commentInput = document.querySelector('#comment')
  const form = document.querySelector('.comment-form');
  const errorMessage = document.querySelector('.errorMessage')
  

// Set input width based on text content length
nameInput.style.width = `${nameInput.value.length}ch`;

//check form validation
comment.addEventListener('keyup',(e)=>{
  if(comment.value != ''){
    errorMessage.textContent=''
  }
})
document.querySelector('.comment-form').addEventListener('submit', (e) => {
  e.preventDefault();

  const formData = new FormData();
  formData.append('user', nameInput.value);
  formData.append('text', commentInput.value);

  fetch(e.target.action, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/x-www-form-urlencoded'
    },
    body: new URLSearchParams(formData)
  })
    .then(result => {
      console.log(result)
      if (result.status === 200) {
        location.reload();
      } else {
        console.log('Request failed');
      }
    })
    .catch(error => {
      console.error(error);
    });
});


</script>
<%- include('../partials/footer.ejs') %>